[View in Colaboratory](https://colab.research.google.com/github/youqad/Neurorobotics_Intent-Recognition/blob/master/TP_Intent_Recognition.ipynb)

# TP: Intent recognition

# *Ex1*: Automatic detection of speakerâ€™s intention from supra-segmental features

## 1. Extraction of prosodic features ($f_0$ and energy)

In [0]:
import urllib.request
import numpy as np
import random
import pandas as pd
from google.colab import files as google_files

In [0]:
def list_from_URL(file_URL, function_applied=None):
  lines_bytes = urllib.request.urlopen(file_URL).readlines()
  lines = []

  for line in lines_bytes:
    line = line.decode("utf-8").rstrip()
    
    if function_applied is not None:
      line = function_applied(line)
    
    lines.append(line)
   
  return lines

filenames = list_from_URL('https://raw.githubusercontent.com/youqad/Neurorobotics_Intent-Recognition/master/filenames.txt')
filenames = list(set(filenames))

In [0]:
# # /!\ NO NEED TO EXECUTE THIS CELL AGAIN !!!
# 
# files = []
# indices = []
# 
# for file in filenames:
# 
#     URL_f0 = 'https://raw.githubusercontent.com/youqad/Neurorobotics_Intent-Recognition/master/data_files/{}.f0'.format(file)
#     file_dicts = [{key:val for key, val in zip(['time', 'f0'], map(float, l.split()))} for l in list_from_URL(URL_f0)]
# 
#     URL_en = 'https://raw.githubusercontent.com/youqad/Neurorobotics_Intent-Recognition/master/data_files/{}.en'.format(file)
#     for l, d in zip(list_from_URL(URL_en), file_dicts):
#       d["file"] = file
#       d["en"] = float(l.split()[1])
# 
#     files.extend(file_dicts)
# 
# # How `files` looks like:
# # files = [ 
# #           {"file": "cy0001at", "time": 0.02, "f0": 0., "en": 0.},
# #           {"file": "cy0001at", "time": 1.28, "f0": 0., "en": 0.},
# #           ...
# #           {"file": "li1450at", "time": 0.02, "f0": 0., "en": 0.},
# #           {"file": "li1450at", "time": 1.56, "f0": 404., "en": 65.}
# #         ]
# 
# pd.DataFrame(files).to_csv('data.csv', encoding='utf-8', index=False) # To reuse it next time
# google_files.download('data.csv')

In [21]:
# loading training data
df = pd.read_csv('https://raw.githubusercontent.com/youqad/Neurorobotics_Intent-Recognition/master/data.csv').set_index('file')
df.head()

            en   f0  time
file
cy0234pw   0.0  0.0  0.02
cy0234pw   0.0  0.0  0.04
cy0234pw  59.0  0.0  0.06
cy0234pw  59.0  0.0  0.08
cy0234pw  58.0  0.0  0.10

In [29]:
print(df.columns.values)

df.groupby('file').mean().head()

['en' 'f0' 'time']

                 en          f0  time
file
cy0001at  47.296875  110.609375  0.65
cy0002at  47.337079  105.640449  0.90
cy0005at  47.296875  110.609375  0.65
cy0006at  47.337079  105.640449  0.90
cy0007pw  52.313725   92.284314  1.03

In [30]:
df.groupby('file').max().head()

            en     f0  time
file
cy0001at  73.0  402.0  1.28
cy0002at  76.0  430.0  1.78
cy0005at  73.0  402.0  1.28
cy0006at  76.0  430.0  1.78
cy0007pw  71.0  257.0  2.04

In [31]:
df.groupby('file').var().head()

                  en            f0      time
file
cy0001at  327.323165  27607.511657  0.138667
cy0002at  269.112360  27108.528345  0.267000
cy0005at  327.323165  27607.511657  0.138667
cy0006at  269.112360  27108.528345  0.267000
cy0007pw  228.455057  10372.542128  0.350200

In [32]:
df.groupby('file').median().head()

            en   f0  time
file
cy0001at  41.5  0.0  0.65
cy0002at  41.0  0.0  0.90
cy0005at  41.5  0.0  0.65
cy0006at  41.0  0.0  0.90
cy0007pw  52.0  0.0  1.03

In [34]:
df.groupby('file').quantile([.25, .75]).head()

                 en     f0   time
file
cy0001at 0.25  40.0    0.0  0.335
         0.75  67.0  331.0  0.965
cy0002at 0.25  40.0    0.0  0.460
         0.75  62.0  251.0  1.340
cy0005at 0.25  40.0    0.0  0.335

In [38]:
agg_features = {
    'mean': 'mean',
    'max': 'max',
    'range': lambda x: max(x)-min(x),
    'var': 'var',
    'median': 'median',
    '1st_quartile': lambda x: x.quantile(.25),
    '3rd_quartile': lambda x: x.quantile(.75),
    'mean_absolute_local_derivate': lambda x: abs(x.diff()).mean()
}

df.groupby('file')['f0','en'].agg(agg_features)

/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

                mean               max        range                 var  \
                  f0         en     f0    en     f0    en            f0
file
cy0001at  110.609375  47.296875  402.0  73.0  402.0  73.0  27607.511657
cy0002at  105.640449  47.337079  430.0  76.0  430.0  76.0  27108.528345
cy0005at  110.609375  47.296875  402.0  73.0  402.0  73.0  27607.511657
cy0006at  105.640449  47.337079  430.0  76.0  430.0  76.0  27108.528345
cy0007pw   92.284314  52.313725  257.0  71.0  257.0  71.0  10372.542128
cy0008pw   78.431373  47.725490  250.0  70.0  250.0  70.0   9930.090196
cy0009pw   69.065789  49.473684  243.0  74.0  243.0  74.0   8927.182281
cy0010pw   29.196078  46.049020  221.0  77.0  221.0  77.0   4696.178994
cy0011pw  110.743590  53.653846  230.0  71.0  230.0  71.0   9290.400932
cy0012pw   74.539474  50.250000  224.0  67.0  224.0  67.0   7363.451754
cy0013pw   81.343137  48.960784  597.0  69.0  597.0  69.0  11985.257329
cy0014ap  114.578431  53.558824  321.0  74.0  321.0  74.0  13517.612599
cy0015ap  107.976562  52.109375  375.0  73.0  375.0  73.0  12282.180549
cy0016ap   87.125714  48.354286  399.0  76.0  399.0  76.0  20819.478358
cy0017ap  143.225490  51.931373  528.0  73.0  528.0  73.0  27929.225878
cy0018ap  101.934211  48.078947  505.0  75.0  505.0  75.0  27713.342281
cy0019ap  123.401961  53.411765  448.0  72.0  448.0  72.0  15774.599204
cy0020ap  128.509804  53.637255  435.0  77.0  435.0  77.0  20712.628616
cy0021ap  129.179775  51.887640  477.0  78.0  477.0  78.0  30549.717314
cy0022ap  128.205882  50.411765  488.0  78.0  488.0  78.0  28859.373034
cy0023ap   79.775281  45.820225  510.0  77.0  510.0  77.0  23343.562564
cy0024ap  130.674157  50.584270  448.0  72.0  448.0  72.0  26981.835802
cy0025ap  138.426966  51.719101  471.0  76.0  471.0  76.0  24146.383810
cy0026at  144.196078  47.862745  453.0  73.0  453.0  73.0  39122.680784
cy0027at  189.872549  52.823529  487.0  75.0  487.0  75.0  41119.023199
cy0028at  170.987805  52.024390  501.0  80.0  501.0  80.0  42613.715899
cy0029at  111.123596  48.112360  496.0  76.0  496.0  76.0  31597.655005
cy0030at  190.562500  52.000000  474.0  75.0  474.0  75.0  45064.535714
cy0031at  149.015625  48.031250  481.0  75.0  481.0  75.0  43398.777530
cy0111ap  109.398438  51.445312  427.0  77.0  427.0  77.0  17347.895116
...              ...        ...    ...   ...    ...   ...           ...
li1421at  120.833333  51.509804  514.0  81.0  514.0  81.0  30060.615512
li1422at  151.887640  51.460674  508.0  79.0  508.0  79.0  39705.100868
li1423at   97.071429  52.778571  514.0  81.0  514.0  81.0  29858.743063
li1424at  181.313725  56.852941  509.0  78.0  509.0  78.0  35839.148127
li1425at  109.669725  51.779817  544.0  83.0  544.0  83.0  30612.612130
li1426at  111.078431  50.970588  553.0  80.0  553.0  80.0  33590.271015
li1427at  135.191011  50.696629  443.0  77.0  443.0  77.0  33501.633555
li1428at   99.523438  49.937500  584.0  78.0  584.0  78.0  30401.904958
li1429at  104.977528  50.370787  495.0  80.0  495.0  80.0  28627.340398
li1430at  161.556522  56.373913  500.0  80.0  500.0  80.0  33990.477040
li1431at   84.960526  46.802632  581.0  76.0  581.0  76.0  27200.545088
li1432at  117.344086  48.849462  551.0  83.0  551.0  83.0  38972.684666
li1433at  138.547826  52.321739  514.0  80.0  514.0  80.0  34515.828833
li1434at  142.234375  51.820312  472.0  77.0  472.0  77.0  32314.637549
li1435at  122.008696  54.756522  493.0  83.0  493.0  83.0  33095.710450
li1436at  135.970588  51.823529  464.0  82.0  464.0  82.0  30828.286255
li1437at   96.225490  50.029412  455.0  81.0  455.0  81.0  25101.562512
li1438at  151.914062  53.828125  461.0  79.0  461.0  79.0  36647.779958
li1439at  129.647059  51.705882  537.0  85.0  537.0  85.0  38897.676179
li1440at   92.304348  48.765217  486.0  83.0  486.0  83.0  27104.231121
li1441at   96.357143  49.357143  462.0  80.0  462.0  80.0  27768.504625
li1442at   99.191304  49.243478  498.0  82.0  498.0  82.0  27374.840275
li1443at   99.984375  50.593750  513.0  84.0  513.0  84.0  27857.165108
li1444at  135.411765  53.823529  468.0  85.0  468.0  85.0  32155.472335
li1445at   99.513043  48.226087  513.0  79.0  513.0  79.0  29492.129214
li1446at  151.171875  53.460938  457.0  80.0  457.0  80.0  33458.663140
li1447at  152.067416  53.988764  484.0  85.0  484.0  85.0  35924.836313
li1448at  114.313043  51.313043  477.0  86.0  477.0  86.0  31141.673074
li1449at  123.565217  51.434783  494.0  83.0  494.0  83.0  34448.932113
li1450at   87.528090  48.134831  427.0  80.0  427.0  80.0  25531.933861

                     median       1st_quartile        3rd_quartile         \
                  en     f0    en           f0     en           f0     en
file
cy0001at  327.323165    0.0  41.5          0.0  40.00       331.00  67.00
cy0002at  269.112360    0.0  41.0          0.0  40.00       251.00  62.00
cy0005at  327.323165    0.0  41.5          0.0  40.00       331.00  67.00
cy0006at  269.112360    0.0  41.0          0.0  40.00       251.00  62.00
cy0007pw  228.455057    0.0  52.0          0.0  41.00       189.50  66.00
cy0008pw  321.963137    0.0  43.0          0.0  41.00       192.00  64.50
cy0009pw  260.839298    0.0  42.0          0.0  40.75       182.25  66.00
cy0010pw  165.789652    0.0  42.0          0.0  41.00         0.00  50.75
cy0011pw  258.125375  172.0  62.0          0.0  41.25       192.50  66.00
cy0012pw  241.523333    0.0  42.5          0.0  41.00       167.00  66.00
cy0013pw  198.849932    0.0  42.5          0.0  40.00       186.75  63.00
cy0014ap  259.278684  164.0  55.0          0.0  41.00       210.25  70.00
cy0015ap  219.184793  161.5  56.0          0.0  41.00       181.25  64.00
cy0016ap  198.827783    0.0  42.0          0.0  41.00       198.50  59.00
cy0017ap  239.193263   85.0  51.5          0.0  41.00       236.75  65.50
cy0018ap  246.953684    0.0  42.0          0.0  41.00       223.00  60.50
cy0019ap  214.145603  175.0  57.0          0.0  42.00       189.75  65.00
cy0020ap  234.233450   81.5  53.0          0.0  42.00       214.75  66.00
cy0021ap  323.169050    0.0  47.0          0.0  41.00       232.00  70.00
cy0022ap  227.551543    0.0  43.0          0.0  41.00       297.50  64.75
cy0023ap  231.058223    0.0  42.0          0.0  40.00         0.00  49.00
cy0024ap  272.336568    0.0  47.0          0.0  40.00       233.00  64.00
cy0025ap  308.295199    0.0  51.0          0.0  41.00       243.00  69.00
cy0026at  357.000784    0.0  42.0          0.0  41.00       393.00  65.50
cy0027at  265.196273    0.0  50.0          0.0  41.00       418.00  69.00
cy0028at  303.900632    0.0  46.0          0.0  41.00       388.25  69.00
cy0029at  272.805414    0.0  42.0          0.0  41.00       226.00  64.00
cy0030at  378.380952    0.0  47.5          0.0  41.00       394.50  70.00
cy0031at  328.697421    0.0  42.0          0.0  40.75       406.25  64.00
cy0111ap  215.776513    0.0  48.0          0.0  42.00       207.50  64.00
...              ...    ...   ...          ...    ...          ...    ...
li1421at  275.400893    0.0  46.0          0.0  41.00       339.50  66.75
li1422at  338.501277    0.0  44.0          0.0  41.00       357.00  71.00
li1423at  245.008171    0.0  50.0          0.0  42.00        65.00  65.00
li1424at  279.453407  207.0  61.0          0.0  43.00       367.75  71.00
li1425at  324.858478    0.0  43.0          0.0  41.00       306.00  69.00
li1426at  260.543681    0.0  45.0          0.0  41.00       239.75  65.00
li1427at  353.054648    0.0  42.0          0.0  39.00       369.00  71.00
li1428at  244.814961    0.0  43.5          0.0  41.75       266.25  63.50
li1429at  328.304137    0.0  45.0          0.0  40.00       273.00  68.00
li1430at  322.481770    0.0  54.0          0.0  42.50       364.00  74.00
li1431at  243.947193    0.0  42.0          0.0  40.00         0.00  52.00
li1432at  327.737962    0.0  41.0          0.0  40.00       309.00  66.00
li1433at  304.325400    0.0  48.0          0.0  40.00       329.50  69.00
li1434at  278.888718    0.0  46.5          0.0  40.00       350.00  68.00
li1435at  287.747216    0.0  53.0          0.0  44.00       341.00  68.00
li1436at  339.592312    0.0  41.0          0.0  40.00       302.00  71.75
li1437at  297.058532    0.0  43.0          0.0  40.00       215.25  66.50
li1438at  302.096211    0.0  47.0          0.0  41.75       384.25  72.00
li1439at  331.318579    0.0  43.0          0.0  40.00       328.75  70.75
li1440at  283.725095    0.0  42.0          0.0  40.00       114.50  60.00
li1441at  249.698869    0.0  42.0          0.0  40.00       272.75  60.25
li1442at  312.922654    0.0  41.0          0.0  39.00       231.50  69.00
li1443at  311.550197    0.0  42.0          0.0  40.00       292.00  66.50
li1444at  356.483401    0.0  45.5          0.0  40.00       345.50  73.00
li1445at  275.930892    0.0  42.0          0.0  39.00       309.00  60.00
li1446at  303.935470    0.0  50.0          0.0  40.00       358.75  70.00
li1447at  414.624872    0.0  44.0          0.0  42.00       373.00  75.00
li1448at  366.041495    0.0  41.0          0.0  40.00       325.50  71.50
li1449at  387.809306    0.0  41.0          0.0  39.00       308.50  73.50
li1450at  341.572523    0.0  41.0          0.0  39.00         0.00  65.00

         mean_absolute_local_derivate
                                   f0        en
file
cy0001at                    23.777778  3.809524
cy0002at                    15.636364  3.272727
cy0005at                    23.777778  3.809524
cy0006at                    15.636364  3.272727
cy0007pw                    13.683168  2.970297
cy0008pw                    26.440000  3.960000
cy0009pw                    12.853333  3.520000
cy0010pw                    15.267327  3.306931
cy0011pw                     7.506494  2.337662
cy0012pw                     6.346667  2.320000
cy0013pw                    26.158416  2.871287
cy0014ap                     9.049505  2.752475
cy0015ap                    12.047244  2.314961
cy0016ap                    20.149425  2.655172
cy0017ap                    26.435644  3.089109
cy0018ap                    25.360000  3.706667
cy0019ap                    27.821782  3.980198
cy0020ap                    37.148515  4.396040
cy0021ap                    27.022727  3.431818
cy0022ap                    26.079208  3.465347
cy0023ap                    18.363636  3.454545
cy0024ap                    30.681818  3.840909
cy0025ap                    14.818182  3.000000
cy0026at                    34.560000  4.360000
cy0027at                    28.059406  3.940594
cy0028at                    33.604938  4.345679
cy0029at                    30.909091  3.636364
cy0030at                    30.063492  3.460317
cy0031at                    29.333333  3.555556
cy0111ap                    16.346457  2.661417
...                               ...       ...
li1421at                    26.237624  3.524752
li1422at                    22.250000  3.159091
li1423at                    31.208633  4.258993
li1424at                    35.128713  4.376238
li1425at                    40.759259  4.259259
li1426at                    34.811881  4.356436
li1427at                    21.931818  3.295455
li1428at                    27.275591  3.574803
li1429at                    21.090909  3.454545
li1430at                    34.333333  4.000000
li1431at                    24.053333  3.626667
li1432at                    29.630435  3.608696
li1433at                    29.438596  3.596491
li1434at                    26.503937  3.527559
li1435at                    32.105263  5.228070
li1436at                    17.504950  2.950495
li1437at                    25.346535  3.881188
li1438at                    26.897638  3.228346
li1439at                    28.158416  3.287129
li1440at                    24.070175  3.175439
li1441at                    25.496403  3.784173
li1442at                    24.105263  2.824561
li1443at                    33.070866  3.606299
li1444at                    27.702970  3.821782
li1445at                    37.052632  4.105263
li1446at                    37.527559  3.921260
li1447at                    11.795455  2.931818
li1448at                    22.684211  3.385965
li1449at                    25.192982  3.087719
li1450at                    28.772727  3.545455

[539 rows x 16 columns]

In [0]:
def statistics(data_matrix):
  output = []
  
  for file in data_matrix:
    mean = np.mean(file[:,1])
    
    maximum = np.max(file[:,1]) 
    range = maximum - np.min(file[:,1])
    
    variance = np.var(file[:,1])
    median = np.median(file[:,1])
    
    first_quartile = np.percentile(file[:,1],25)
    third_quartile = np.percentile(file[:,1],75)
    mean_absolute_local_derivate = np.mean(np.abs(np.diff(file[:,1])))
    
    output.append([mean,maximum,range,variance,median,first_quartile,third_quartile,mean_absolute_local_derivate])
    
  return np.array(output)

features = {}
features['f0'] = []
features['en'] = []


for ext in ['f0', 'en']:
  features[ext] = statistics(files[ext])

In [5]:
features

{'en': array([[60.94252874, 83.        , 83.        , ..., 59.        ,
         63.5       ,  3.06976744],
        [49.5826087 , 86.        , 86.        , ..., 40.        ,
         64.5       ,  3.66666667],
        [70.02      , 91.        , 91.        , ..., 57.        ,
         83.        ,  4.64646465],
        ...,
        [66.72580645, 85.        , 85.        , ..., 55.        ,
         82.        ,  4.45901639],
        [50.609375  , 83.        , 83.        , ..., 40.        ,
         66.5       ,  3.7480315 ],
        [55.31304348, 81.        , 81.        , ..., 42.        ,
         69.5       ,  3.92982456]]),
 'f0': array([[ 34.94252874, 258.        , 258.        , ...,   0.        ,
           0.        ,  12.51162791],
        [114.76521739, 508.        , 508.        , ...,   0.        ,
         337.        ,  29.9122807 ],
        [115.3       , 501.        , 501.        , ...,   0.        ,
         192.        ,  38.32323232],
        ...,
        [105.01612903, 255.        , 255.        , ...,   0.        ,
         199.75      ,  21.80327869],
        [125.5390625 , 500.        , 500.        , ...,   0.        ,
         382.        ,  25.7007874 ],
        [135.02608696, 449.        , 449.        , ...,   0.        ,
         325.        ,  28.56140351]])}

In [0]:
# Question 3

## Explanation: A sound can be either voiced, like a vowel, or unvoiced, like a consonant. We want to see which of them contains more intention
 
## ps: change "data" by the correct name

voiced = data.loc[data[:,1] != 0]
unvoiced = data.loc[data[:,1] == 0]
  

# Question 4


tot_sz = length(data)

train_sz = round(tot_sz*0.6)
random.shuffle(data)
train_data = data[:train_sz]
test_data = data[train_sz:]

In [0]:
x = np.array([[1, 3], 
              [0, 5],
              [0, 5]])


#np.mean(np.abs(np.diff(x, axis=0)), axis=0)
np.mean(np.abs(np.diff(x, axis=0)), axi

array([0.5, 1. ])